body, input { font: 13px/1.3em 'Trebuchet MS', Sans-Serif; }

html, body {
  margin: 0;
  height: 100%;
}
body {
  color: #333;
}
.wrapper {
  min-height: 100%;
  height: 100%;
  margin-bottom: -50px;
}
.footer_space {
  height: 50px;
}
.footer {
  height: 49px;
  border-top: 1px solid #ddd;
  color: #999;
  background-color: #eee;
}
.content {
  padding: 15px;
}

small {
  font-size: 100%;
  color: #999;
}
p {
  margin: 10px 0;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}
h1 small {
  font-size: 14px;
  font-weight: normal;
}

fieldset.props {
	/*border: 1px solid #c6d6e2;*/
	border: 1px solid #ddd;
	border-radius: 4px;
	margin: 5px 0;
}

fieldset.props .cb { vertical-align: -1px; }
fieldset.props legend { padding: 0 5px; margin-left: -2px; font-weight: bold; }

fieldset.props ul li { margin-bottom: 5px; margin-right: 15px; list-style-type: none;}
fieldset.props ul.column { float: left; min-width: 100px; margin: 0; padding: 0;}

.label-important {
  font-size: 10px;
  font-weight: bold;
  line-height: 14px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #B94A48;
  padding: 1px 4px 2px;
  border-radius: 3px;
}

h1::before{
	content: '__MSG_sqlexcheck_options_title__'
}
h1 small::after {
	content: '__MSG_sqlexcheck_name__'
}
fieldset.props legend::after {
	content: '__MSG_sqlexcheck_options_header__'
}
fieldset.props ul.column li:nth-child(1) span::after {
	content: '__MSG_sqlexcheck_forum_name_l__'
}
fieldset.props ul.column li:nth-child(2) span::after {
  content: '__MSG_sqlexcheck_forum_name_la__'
}
fieldset.props ul.column li:nth-child(3) span::after {
	content: '__MSG_sqlexcheck_forum_name_r__'
}
fieldset.props ul.column li:nth-child(4) span::after {
  content: '__MSG_sqlexcheck_forum_name_ra__'
}
fieldset.props ul.column li:nth-child(5) span::after {
  content: '__MSG_sqlexcheck_forum_name_o__'
}
fieldset.props ul.column li:nth-child(6) span::after {
  content: '__MSG_sqlexcheck_forum_name_oa__'
}
fieldset.props ul.column li:nth-child(7) span::after {
  content: '__MSG_sqlexcheck_forum_name_dml__'
}
fieldset.props ul.column li:nth-child(8) span::after {
  content: '__MSG_sqlexcheck_forum_name_dmla__'
}
fieldset.props ul.column li:nth-child(9) span::after {
  content: '__MSG_sqlexcheck_forum_name_other__'
}
.footer .content::after {
	content: '__MSG_sqlexcheck_copyright__'
}