body { width: 250px; margin: auto; overflow: hidden; }

.control a {
	position: absolute; top: 12px; width: 16px; height: 16px;
}
.control a.refresh {
	margin-left: 10px;
	background: url(../images/icon-refresh.png) no-repeat 50% 0;
}
.control a.close {
	margin-left: 220px;
	background: url(../images/icon-close.png) no-repeat 50% 0;
}
.control a.options {
	margin-left: 42px;
	background: url(../images/icon-options.png) no-repeat 50% 0;
}
.control a:hover { background-position: 50% -16px; }

.container { margin-top: 40px; }

.menu,
.menu ul,
.menu li,
.menu a,
.menu span {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}
.menu li {
	list-style: none;
}

.menu li a {
	display: block;
	position: relative;
	min-width: 150px;
	padding: 0 10px 0 10px;

	color: #797979;
	font: bold 12px/32px 'Trebuchet MS', Arial, sans-serif;
	text-decoration: none;

	border-bottom: 1px solid #c9c9c9;
	border-left: 5px solid #fff;
}

.menu li:last-child a { border-bottom: none; }

.menu li > a span {
	display: block;
	position: absolute;
	top: 7px;
	right: 0;
	padding: 0 10px;
	margin-right: 40px;

	color: #000;
	text-shadow: 1px 1px 0px rgba(255,255,255, .2);
	font: normal bold 12px/18px 'Trebuchet MS', Arial, sans-serif;
	background: transparent;
	border: 1px solid #d8d8d8;

	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.menu em {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 14px;
	color: #000;
	font: normal 10px/32px 'Trebuchet MS', Arial, sans-serif;
}

.menu > li:hover > a,
.menu > li:target > a {
	background: #f6f6f6;
	border-left: 5px solid #c84825;
}

#LforumInfo::before {
	content: '__MSG_sqlexcheck_forum_name_l__'
}
#RforumInfo::before {
	content: '__MSG_sqlexcheck_forum_name_r__'
}
#OforumInfo::before {
	content: '__MSG_sqlexcheck_forum_name_o__'
}
#DMLforumInfo::before {
	content: '__MSG_sqlexcheck_forum_name_dml__'
}
#OtherforumInfo::before {
	content: '__MSG_sqlexcheck_forum_name_other__'
}