body { font: 13px/1.3em 'Trebuchet MS', Sans-Serif; width: 310px; height: 100px; margin: auto; overflow: hidden; }

.refresh-block a.refresh {
	position: absolute; top: 12px; width: 16px; height: 20px; margin-left: 10px;
	background: url(../images/icon-refresh.png) no-repeat 50% 0; padding-top: 18px; 
}
.refresh-block a:hover.refresh { background-position: 50% -60px; color: #cc0000; }

.close-block a.close { 
	position: absolute; top: 12px; width: 20px; height: 20px; margin-left: 280px;
	background: url(../images/icon-close.png) no-repeat 50% 0; height: 18px; width: 16px;
}
.close-block a:hover.close { background-position: 50% -60px; color: #cc0000; }

.options-block a.options { 
	position: absolute; top: 10px; width: 20px; height: 20px; margin-left: 40px;
	background: url(../images/icon-options.png) no-repeat 50% 0;
}
.options-block a:hover.options { background-position: 50% -30px; color: #cc0000; }

.counter  {
	margin: 30px 0px;
	padding: 0px 5px 5px 5px;
	position: absolute;
	text-align: center;
	cursor: pointer;
}
fieldset.props {
	width: 120px; height: 50px;
	border: 1px solid #c6d6e2;
}
#LforumInfo fieldset {
	background: url(../images/fieldset-bg-l.png) repeat-x;
}
#RforumInfo {
	margin-left: 155px;
}
#RforumInfo fieldset {
	background: url(../images/fieldset-bg-r.png) repeat-x;
}
#LforumInfo fieldset.props legend::after {
	content: '__MSG_sqlexcheck_forum_name_l__'
}
#RforumInfo fieldset.props legend::after {
	content: '__MSG_sqlexcheck_forum_name_r__'
}
.value {
	font-size: 30px;
	padding-top: 10px;
}